{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController !
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/21-07-23-style.css">
	<link rel="stylesheet" href="/assets/css/mat.css">
{% endblock %}

{% block body %}


	<main>
		<section id="inscription">
			<div class="containerfluid">
				<div class="row">
					<div class="col-12 col-md-5 background">
						<a href="#" class="logo"><img src="/assets/img/logo-timeout-white.svg" alt=""></a>
					</div>


					<div class="col-12 col-md-7 inscription adjust">
						<article class="cardsub">
							<h1>Connexion</h1>
							<div class="subform">
								<div class="inputsub">
									{{ form_start(loginForm) }}
									    {{ form_errors(loginForm) }}
									{{ form_end(loginForm) }}
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>


		</section>


	</main>


{% endblock %}
